.banner {
	background-image: url(../../images/background.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
	color: black;
	text-shadow: 2px 2px 10px;
}

.banner h2 {
	font-size: 30 px;
	color: white;
	text-shadow: 2px 2px 5px;
	margin-bottom: 40px;
}